<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App Reborn</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Welcome to the new and improved chat app! This is still a prototype of the actual thing. So expect bugs and more.</h1>
    <div class="sidebar" id="sidebar">
        <h2>Servers</h2>
        <a href="#" id="server1">Server 1</a>
        <a href="#" id="server2">Server 2</a>
        <a href="#" id="server3">Server 3</a>
    </div>
    <button id="pickServerbutton"><img src="/static/winxp.png" width="20" height="20">Pick your server.</button> <!--pls put on bottom left and make a taskbar thx-->
    <p id="youselected"></p>
    <div id="form">
        <form id="startForm" action="/wheredoigo" method="post">
            <label for="username">Username: </label>
            <input type="text" name="username" required><br>
            <label for="password" required>Password: </label>
            <input type="password" name="password"><br>
            <button type="submit">Get In</button>
        </form>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>