<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up to access the chatrooms.</h1>
    <form id="signupform">
        <label for="username">Username: </label>
        <input type="text" name="username"><br>
        <label for="password">Password: </label> 
        <input type="password" name="password">
        <button type="submit"></button>
    </form>
    <script src="/static/signup.js"></script>
</body>
</html>